
	// Grid

	/* breakpoints */

	$mobile-portrait-media-width: 300px;
	$mobile-media-width: 540px;
	$portrait-media-width: 768px;
	$landscape-media-width: 992px;
	$desktop-media-width: 1200px;
	$bigscreen-media-width: 1400px;

	/* site-width at breakpoints */
	$mobile-portrait-site-width: 100%;
	$mobile-site-width: 100%;
	$portrait-site-width: 750px;
	$landscape-site-width: 970px;
	$desktop-site-width: 1170px;
	$bigscreen-site-width: 1370px;

	/* grid settings */
	$grid-total-columns: 12;
	$grid-gutter-width: 20px;



	// Background Colors

	$body: #fafafa;
	$prime: #ff5a00;
	$emphasis: #24BEFC;
	$white: #ffffff;

	// Line Colors

	$border: #E3E3E3;				// Menu, Blocks

	// Type Colors

	$default-text: #999999;			// Default text color
	$inverted-text: #FFFFFF;		// White text in solid blocks