/* breakpoints */
/* site-width at breakpoints */
/* grid settings */
.row:after {
  display: table;
  clear: both;
  content: " "; }

/*  Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  width: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row:after {
  display: table;
  clear: both;
  content: " "; }

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xl-1, .col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xl-2, .col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xl-3, .col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xl-4, .col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xl-5, .col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xl-6, .col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xl-7, .col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xl-8, .col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xl-9, .col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xl-10, .col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xl-11, .col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xl-12 {
  float: left;
  position: relative;
  min-height: 1px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

.gutterless .col-xs-1,
.gutterless .col-sm-1,
.gutterless .col-md-1,
.gutterless .col-lg-1,
.gutterless .col-xl-1, .gutterless .col-xs-2,
.gutterless .col-sm-2,
.gutterless .col-md-2,
.gutterless .col-lg-2,
.gutterless .col-xl-2, .gutterless .col-xs-3,
.gutterless .col-sm-3,
.gutterless .col-md-3,
.gutterless .col-lg-3,
.gutterless .col-xl-3, .gutterless .col-xs-4,
.gutterless .col-sm-4,
.gutterless .col-md-4,
.gutterless .col-lg-4,
.gutterless .col-xl-4, .gutterless .col-xs-5,
.gutterless .col-sm-5,
.gutterless .col-md-5,
.gutterless .col-lg-5,
.gutterless .col-xl-5, .gutterless .col-xs-6,
.gutterless .col-sm-6,
.gutterless .col-md-6,
.gutterless .col-lg-6,
.gutterless .col-xl-6, .gutterless .col-xs-7,
.gutterless .col-sm-7,
.gutterless .col-md-7,
.gutterless .col-lg-7,
.gutterless .col-xl-7, .gutterless .col-xs-8,
.gutterless .col-sm-8,
.gutterless .col-md-8,
.gutterless .col-lg-8,
.gutterless .col-xl-8, .gutterless .col-xs-9,
.gutterless .col-sm-9,
.gutterless .col-md-9,
.gutterless .col-lg-9,
.gutterless .col-xl-9, .gutterless .col-xs-10,
.gutterless .col-sm-10,
.gutterless .col-md-10,
.gutterless .col-lg-10,
.gutterless .col-xl-10, .gutterless .col-xs-11,
.gutterless .col-sm-11,
.gutterless .col-md-11,
.gutterless .col-lg-11,
.gutterless .col-xl-11, .gutterless .col-xs-12,
.gutterless .col-sm-12,
.gutterless .col-md-12,
.gutterless .col-lg-12,
.gutterless .col-xl-12 {
  padding-left: 0;
  padding-right: 0; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 540px) {
  .container {
    width: 100%; } }
@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
@media (min-width: 1400px) {
  .container {
    width: 1370px; } }
.row {
  margin-left: -10px;
  margin-right: -10px; }

.row.gutterless {
  margin-left: 0px;
  margin-right: 0px; }

.col-xxs-1 {
  width: 8.33333%; }

.col-xxs-2 {
  width: 16.66667%; }

.col-xxs-3 {
  width: 25%; }

.col-xxs-4 {
  width: 33.33333%; }

.col-xxs-5 {
  width: 41.66667%; }

.col-xxs-6 {
  width: 50%; }

.col-xxs-7 {
  width: 58.33333%; }

.col-xxs-8 {
  width: 66.66667%; }

.col-xxs-9 {
  width: 75%; }

.col-xxs-10 {
  width: 83.33333%; }

.col-xxs-11 {
  width: 91.66667%; }

.col-xxs-12 {
  width: 100%; }

@media (min-width: 540px) {
  .col-xs-1 {
    width: 8.33333%; }

  .col-xs-2 {
    width: 16.66667%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-4 {
    width: 33.33333%; }

  .col-xs-5 {
    width: 41.66667%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-7 {
    width: 58.33333%; }

  .col-xs-8 {
    width: 66.66667%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-10 {
    width: 83.33333%; }

  .col-xs-11 {
    width: 91.66667%; }

  .col-xs-12 {
    width: 100%; } }
@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; } }
@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; } }
@media (min-width: 1400px) {
  .col-xl-1 {
    width: 8.33333%; }

  .col-xl-2 {
    width: 16.66667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.33333%; }

  .col-xl-5 {
    width: 41.66667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.33333%; }

  .col-xl-8 {
    width: 66.66667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.33333%; }

  .col-xl-11 {
    width: 91.66667%; }

  .col-xl-12 {
    width: 100%; } }
@media (min-width: 540px) {
  .col-xs-offset-1 {
    margin-left: 8.33333%; }

  .col-xs-offset-2 {
    margin-left: 16.66667%; }

  .col-xs-offset-3 {
    margin-left: 25%; }

  .col-xs-offset-4 {
    margin-left: 33.33333%; }

  .col-xs-offset-5 {
    margin-left: 41.66667%; }

  .col-xs-offset-6 {
    margin-left: 50%; }

  .col-xs-offset-7 {
    margin-left: 58.33333%; }

  .col-xs-offset-8 {
    margin-left: 66.66667%; }

  .col-xs-offset-9 {
    margin-left: 75%; }

  .col-xs-offset-10 {
    margin-left: 83.33333%; }

  .col-xs-offset-11 {
    margin-left: 91.66667%; }

  .col-xs-offset-12 {
    margin-left: 100%; } }
@media (min-width: 768px) {
  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1400px) {
  .col-xl-offset-1 {
    margin-left: 8.33333%; }

  .col-xl-offset-2 {
    margin-left: 16.66667%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-4 {
    margin-left: 33.33333%; }

  .col-xl-offset-5 {
    margin-left: 41.66667%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-7 {
    margin-left: 58.33333%; }

  .col-xl-offset-8 {
    margin-left: 66.66667%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-10 {
    margin-left: 83.33333%; }

  .col-xl-offset-11 {
    margin-left: 91.66667%; }

  .col-xl-offset-12 {
    margin-left: 100%; } }
@font-face {
  font-family: "dearnova-icons";
  src: url('../fonts/icons/dearnova-iconset.eot?1427378186');
  src: url('../fonts/icons/dearnova-iconset.eot?&1427378186#iefix') format('embedded-opentype'), url('../fonts/icons/dearnova-iconset.woff?1427378186') format('woff'), url('../fonts/icons/dearnova-iconset.ttf?1427378186') format('truetype'), url('../fonts/icons/dearnova-iconset.svg?1427378186#dearnova-icons') format('svg'); }
[class^="icon-"], [class*=" icon-"], body, h1, h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'dearnova-icons'; }

[class^="icon-"], [class*=" icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cog:before {
  content: "\f013"; }

.icon-wrench:before {
  content: "\f0ad"; }

.icon-dashboard:before {
  content: "\f0e4"; }

.icon-lightbulb:before {
  content: "\f0eb"; }

.icon-suitcase:before {
  content: "\f0f2"; }

.icon-paper-plane:before {
  content: "\f1d9"; }

@font-face {
  font-family: "DIN-Light";
  src: url('../fonts/DIN-Light-webfont.eot?1427367447');
  src: url('../fonts/DIN-Light-webfont.eot?&1427367447#iefix') format('embedded-opentype'), url('../fonts/DIN-Light-webfont.woff?1427367447') format('woff'), url('../fonts/DIN-Light-webfont.ttf?1427367447') format('truetype'), url('../fonts/DIN-Light-webfont.svg?1427367447#dinlight') format('svg'); }
@font-face {
  font-family: "DIN-Regular";
  src: url('../fonts/DIN-Regular-webfont.eot?1427367447');
  src: url('../fonts/DIN-Regular-webfont.eot?&1427367447#iefix') format('embedded-opentype'), url('../fonts/DIN-Regular-webfont.woff?1427367447') format('woff'), url('../fonts/DIN-Regular-webfont.ttf?1427367447') format('truetype'), url('../fonts/DIN-Regular-webfont.svg?1427367447#dinregular') format('svg'); }
[class^="icon-"], [class*=" icon-"], body, h1, h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; }

h1 {
  font-family: 'DIN-light', Arial, Helvetica, sans-serif; }

h2 {
  font-family: 'DIN-Regular', Arial, Helvetica, sans-serif; }

body {
  font-size: 100%;
  color: #999999; }

h1 {
  margin-bottom: 1em;
  font-size: 2em;
  line-height: 1.25em;
  text-align: center; }

h2 {
  margin-bottom: 1em;
  font-size: 1.25em;
  line-height: 1.25em; }

p {
  margin-bottom: 1em;
  line-height: 1.4em; }

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, p:last-child, ul:last-child, ol:last-child {
  margin-bottom: 0; }

a {
  color: #ff5a00; }

.button {
  display: inline-block;
  padding: 1em;
  background-color: #ff5a00;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: background 100ms ease-in-out 0ms, color 100ms ease-in-out 0ms;
  transition: background 100ms ease-in-out 0ms, color 100ms ease-in-out 0ms; }

.art1 .button:hover, .art1 .button:active {
  background-color: #ffffff;
  color: #999999; }

.art2 .button {
  position: relative;
  overflow: hidden; }
  .art2 .button span {
    position: relative;
    z-index: 10; }
  .art2 .button:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: #24BEFC;
    -webkit-transition: left 100ms ease-out 0ms;
    transition: left 100ms ease-out 0ms; }
  .art2 .button:hover:before, .art2 .button:active:before {
    left: 0; }

.art3 .button,
.art4 .button {
  padding: 0; }
  .art3 .button > span,
  .art4 .button > span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
    .art3 .button > span > span,
    .art4 .button > span > span {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 1em;
      border-radius: 4px;
      opacity: 1;
      left: 0;
      top: -5px;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: -webkit-transform 0.3s linear, background 0.3s linear;
      transition: transform 0.3s linear, background 0.3s linear;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: rotateX(-90deg) translateZ(52px);
      transform: rotateX(-90deg) translateZ(52px);
      background-color: #24BEFC; }
  .art3 .button:hover > span, .art3 .button:active > span,
  .art4 .button:hover > span,
  .art4 .button:active > span {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); }

.art4 .button {
  padding: 0; }
  .art4 .button > span > span {
    background-color: #0384b7; }
  .art4 .button:hover > span, .art4 .button:active > span {
    background-color: #ff9c66; }
    .art4 .button:hover > span > span, .art4 .button:active > span > span {
      background-color: #24BEFC; }

.art5 .button {
  position: relative;
  overflow: hidden;
  -wekbit-transition: padding-right 100ms ease-in-out 0ms;
  transition: padding-right 100ms ease-in-out 0ms; }
  .art5 .button:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -15px;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-left: 8px solid #ffffff;
    border-bottom: 5px solid transparent;
    -wekbit-transition: right 100ms ease-in-out 0ms;
    transition: right 100ms ease-in-out 0ms; }
  .art5 .button:hover, .art5 .button:active {
    padding-right: 40px; }
    .art5 .button:hover:after, .art5 .button:active:after {
      right: 15px; }

.art6 .button {
  position: relative;
  overflow: hidden;
  border-radius: 0px;
  -wekbit-transition: padding-right 100ms ease-in-out 0ms;
  transition: padding-right 100ms ease-in-out 0ms;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms; }
  .art6 .button:after {
    content: "";
    display: block;
    position: absolute;
    top: -10%;
    right: 15px;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-left: 8px solid #ffffff;
    border-bottom: 5px solid transparent;
    -wekbit-transition: top 200ms ease-in-out 0ms;
    transition: top 200ms ease-in-out 0ms; }
  .art6 .button:hover, .art6 .button:active {
    padding-right: 40px;
    -wekbit-transition: padding-right 100ms ease-in-out 0ms;
    transition: padding-right 100ms ease-in-out 0ms;
    background-color: #24BEFC; }
    .art6 .button:hover:after, .art6 .button:active:after {
      top: 50%;
      -webkit-transition-delay: 100ms;
      transition-delay: 100ms; }

.art7 .button {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: #ff5a00;
  border: 1px solid #ff5a00;
  border-radius: 0px; }
  .art7 .button span {
    position: relative;
    z-index: 10; }
  .art7 .button:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    height: 100%;
    width: 100%;
    background-color: #ff5a00;
    -webkit-transition: bottom 100ms ease-out 0ms;
    transition: bottom 100ms ease-out 0ms; }
  .art7 .button:hover, .art7 .button:active {
    color: #24BEFC;
    border: 1px solid #24BEFC; }
    .art7 .button:hover:before, .art7 .button:active:before {
      bottom: -95%;
      background-color: #24BEFC; }

.art8 .button {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: #ff5a00;
  border: 1px solid #ff5a00;
  border-radius: 0px; }
  .art8 .button span {
    position: relative;
    z-index: 10; }
  .art8 .button:before {
    content: "";
    display: block;
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ff5a00;
    -webkit-transition: top 100ms ease-out 0ms;
    transition: top 100ms ease-out 0ms; }
  .art8 .button:hover, .art8 .button:active {
    color: #ffffff; }
    .art8 .button:hover:before, .art8 .button:active:before {
      top: 0; }

body {
  background-color: #fafafa; }

header ul {
  padding-top: 20px;
  text-align: center; }
  header ul li {
    display: inline-block;
    padding: 10px; }
    header ul li a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase; }
      header ul li a span {
        display: inline-block;
        position: relative;
        padding: 10px 20px; }
        header ul li a span:before {
          content: "";
          display: block;
          position: absolute;
          z-index: 0;
          top: 50%;
          left: 20px;
          right: 20px;
          height: 0%;
          border-top: 0px solid #ff5a00;
          border-bottom: 0px solid #ff5a00;
          -webkit-transition: all 100ms ease-in-out 0ms;
          transition: all 100ms ease-in-out 0ms; }
      header ul li a.active span:before, header ul li a:hover span:before, header ul li a:active span:before {
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        border-top-width: 1px;
        border-bottom-width: 1px; }

main {
  padding: 3em 0; }

article {
  position: relative;
  padding: 3em;
  border-radius: 2px;
  -webkit-transition: background 100ms ease-in-out 0ms, color 100ms ease-in-out 0ms;
  transition: background 100ms ease-in-out 0ms, color 100ms ease-in-out 0ms; }
  article.hover {
    background-color: #24BEFC;
    color: #FFFFFF; }

.about-animation {
  position: relative; }
  .about-animation .org {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    font-size: 0.75em;
    text-align: center;
    line-height: 2em;
    -webkit-transition: opacity 200ms ease-in-out 0ms, transform 1500ms ease-in-out 0ms;
    transition: opacity 200ms ease-in-out 0ms, transform 1500ms ease-in-out 0ms; }
    .about-animation .org .org-outer {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0%;
      height: 0%;
      border: 5px dotted #24BEFC;
      border-radius: 50%;
      opacity: 0;
      -webkit-transition: all 600ms ease-in-out 0ms;
      transition: all 600ms ease-in-out 0ms; }
    .about-animation .org .org-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 50%;
      background-color: rgba(36, 190, 252, 0.8);
      border-radius: 50%;
      color: #ffffff;
      line-height: 100px;
      -webkit-transition: all 600ms ease-in-out 0ms;
      transition: all 600ms ease-in-out 0ms; }
    .about-animation .org.fixed {
      position: fixed; }
      .about-animation .org.fixed .org-inner.oi1 {
        top: 1%;
        left: 25%; }
      .about-animation .org.fixed .org-inner.oi2 {
        top: 38%;
        left: 5%; }
      .about-animation .org.fixed .org-inner.oi3 {
        top: 38%;
        left: 45%; }
      .about-animation .org.fixed .org-outer {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1; }
    .about-animation .org.removed {
      opacity: 0;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
    .about-animation .org.org2 {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      opacity: 0; }
      .about-animation .org.org2 .org-outer {
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity: 1; }
      .about-animation .org.org2 .org-inner.oi1 {
        top: 12%;
        left: 5%; }
      .about-animation .org.org2 .org-inner.oi2 {
        top: 12%;
        left: 45%; }
      .about-animation .org.org2 .org-inner.oi3 {
        top: 49%;
        left: 25%; }
      .about-animation .org.org2.fixed {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    .about-animation .org.org3 .org-ext-container {
      opacity: 0;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
      .about-animation .org.org3 .org-ext-container.oe1 {
        -webkit-transition: all 300ms ease-in-out 0ms;
        transition: all 300ms ease-in-out 0ms; }
      .about-animation .org.org3 .org-ext-container.oe2 {
        -webkit-transition: all 300ms ease-in-out 100ms;
        transition: all 300ms ease-in-out 100ms; }
        .about-animation .org.org3 .org-ext-container.oe2 .org-ext {
          -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg); }
      .about-animation .org.org3 .org-ext-container.oe3 {
        -webkit-transition: all 300ms ease-in-out 200ms;
        transition: all 300ms ease-in-out 200ms; }
        .about-animation .org.org3 .org-ext-container.oe3 .org-ext {
          -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg); }
      .about-animation .org.org3 .org-ext-container.oe4 {
        -webkit-transition: all 300ms ease-in-out 300ms;
        transition: all 300ms ease-in-out 300ms; }
        .about-animation .org.org3 .org-ext-container.oe4 .org-ext {
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }
      .about-animation .org.org3 .org-ext-container.oe5 {
        -webkit-transition: all 300ms ease-in-out 400ms;
        transition: all 300ms ease-in-out 400ms; }
        .about-animation .org.org3 .org-ext-container.oe5 .org-ext {
          -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg); }
      .about-animation .org.org3 .org-ext-container.oe6 {
        -webkit-transition: all 300ms ease-in-out 500ms;
        transition: all 300ms ease-in-out 500ms; }
        .about-animation .org.org3 .org-ext-container.oe6 .org-ext {
          -webkit-transform: rotate(-300deg);
          transform: rotate(-300deg); }
      .about-animation .org.org3 .org-ext-container .org-ext {
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 25%;
        height: 25%;
        margin: 0 0 5% -12.5%;
        background-color: #24BEFC;
        border-radius: 50%;
        color: #ffffff;
        text-align: center;
        font-size: 2em;
        line-height: 2em; }
    .about-animation .org.org3.fixed .org-ext-container {
      opacity: 1; }
      .about-animation .org.org3.fixed .org-ext-container.oe1 {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
      .about-animation .org.org3.fixed .org-ext-container.oe2 {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg); }
      .about-animation .org.org3.fixed .org-ext-container.oe3 {
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg); }
      .about-animation .org.org3.fixed .org-ext-container.oe4 {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
      .about-animation .org.org3.fixed .org-ext-container.oe5 {
        -webkit-transform: rotate(240deg);
        transform: rotate(240deg); }
      .about-animation .org.org3.fixed .org-ext-container.oe6 {
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg); }

@media (min-width: 750px) {
  .about-animation {
    padding-right: 280px; }
    .about-animation .org {
      display: block; } }
.wrap {
  position: relative;
  width: auto;
  height: 400px;
  overflow: hidden; }

.img1 .wrap img {
  -webkit-transition: all 500ms ease-out 0ms;
  transition: all 500ms ease-out 0ms; }
.img1 .wrap:hover img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: all 20000ms ease-out 0ms;
  transition: all 20000ms ease-out 0ms; }

.img2 .wrap img {
  -webkit-transition: all 500ms ease-out 0ms;
  transition: all 500ms ease-out 0ms;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }
.img2 .wrap:hover img {
  -webkit-transition: all 1000ms ease-out 0ms;
  transition: all 1000ms ease-out 0ms;
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%); }

.img3 .wrap img {
  -webkit-transition: opacity 200ms ease-out 0ms;
  transition: opacity 200ms ease-out 0ms;
  opacity: 1; }
.img3 .wrap .layover {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #24BEFC;
  -webkit-transition: left 200ms ease-out 0ms;
  transition: left 200ms ease-out 0ms; }
  .img3 .wrap .layover h3 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
    opacity: 0; }
.img3 .wrap:hover img {
  -webkit-transition: opacity 200ms ease-out 0ms;
  transition: opacity 200ms ease-out 0ms;
  opacity: 0.9; }
.img3 .wrap:hover .layover {
  left: 0%;
  opacity: 0.8; }
  .img3 .wrap:hover .layover h3 {
    opacity: 1; }

.img4 .wrap {
  background: url(img/img.jpg) 0 0 no-repeat;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease-out 0ms;
  transition: background-color 200ms ease-out 0ms;
  background-size: cover; }
  .img4 .wrap .layover {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: top 200ms ease-out 0ms;
    transition: top 200ms ease-out 0ms; }
    .img4 .wrap .layover h3 {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      color: #ffffff; }
  .img4 .wrap:hover {
    background-color: #24BEFC;
    background-blend-mode: multiply; }
    .img4 .wrap:hover .layover {
      top: 0; }
