@charset "UTF-8";

.about-animation {
	position: relative;

	.org {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 200px;
		height: 200px;
		font-size: 0.75em;
		text-align: center;
		line-height: 2em;
		-webkit-transition: opacity 200ms ease-in-out 0ms, transform 1500ms ease-in-out 0ms;
		transition: opacity 200ms ease-in-out 0ms, transform 1500ms ease-in-out 0ms;

		.org-outer {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 0%;
			height: 0%;
			border: 5px dotted $emphasis;
			border-radius: 50%;
			opacity: 0;
			-webkit-transition: all 600ms ease-in-out 0ms;
			transition: all 600ms ease-in-out 0ms;
		}

		.org-inner {
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 50%;
			background-color: rgba($emphasis, 0.8);
			border-radius: 50%;
			color: $white;
			line-height: 100px;
			-webkit-transition: all 600ms ease-in-out 0ms;
			transition: all 600ms ease-in-out 0ms;
		}

		&.fixed {
			position: fixed;
			.org-inner {
				&.oi1 {
					top: 1%;
					left: 25%;
				}

				&.oi2 {
					top: 38%;
					left: 5%;
				}

				&.oi3 {
					top: 38%;
					left: 45%;
				}
			}
			.org-outer {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 1;
			}
		}

		&.removed {
			opacity: 0;
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}

		&.org2 {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
			opacity: 0;

			.org-outer {
				top: 0%;
				left: 0%;
				width: 100%;
				height: 100%;
				opacity: 1;
			}

			.org-inner {
				&.oi1 {
					top: 12%;
					left: 5%;
				}

				&.oi2 {
					top: 12%;
					left: 45%;
				}

				&.oi3 {
					top: 49%;
					left: 25%;
				}
			}

			&.fixed {
				opacity: 1;
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
			}
		}

		&.org3 {
			.org-ext-container {
				opacity: 0;
				position: absolute;
				top: 0%;
				left: 0%;
				width: 100%;
				height: 100%;
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);

				&.oe1 {
					-webkit-transition: all 300ms ease-in-out 0ms;
					transition: all 300ms ease-in-out 0ms;
				}

				&.oe2 {
					-webkit-transition: all 300ms ease-in-out 100ms;
					transition: all 300ms ease-in-out 100ms;
					.org-ext {
						-webkit-transform: rotate(-60deg);
						transform: rotate(-60deg);
					}
				}

				&.oe3 {
					-webkit-transition: all 300ms ease-in-out 200ms;
					transition: all 300ms ease-in-out 200ms;
					.org-ext {
						-webkit-transform: rotate(-120deg);
						transform: rotate(-120deg);
					}
				}

				&.oe4 {
					-webkit-transition: all 300ms ease-in-out 300ms;
					transition: all 300ms ease-in-out 300ms;
					.org-ext {
						-webkit-transform: rotate(-180deg);
						transform: rotate(-180deg);
					}
				}

				&.oe5 {
					-webkit-transition: all 300ms ease-in-out 400ms;
					transition: all 300ms ease-in-out 400ms;
					.org-ext {
						-webkit-transform: rotate(-240deg);
						transform: rotate(-240deg);
					}
				}

				&.oe6 {
					-webkit-transition: all 300ms ease-in-out 500ms;
					transition: all 300ms ease-in-out 500ms;
					.org-ext {
						-webkit-transform: rotate(-300deg);
						transform: rotate(-300deg);
					}
				}

				.org-ext {
					position: absolute;
					bottom: 100%;
					left: 50%;
					width: 25%;
					height: 25%;
					margin: 0 0 5% -12.5%;
					background-color: $emphasis;
					border-radius: 50%;
					color: $white;
					text-align: center;
					font-size: 2em;
					line-height: 2em;
				}
			}

			&.fixed {
				.org-ext-container {
					opacity: 1;

					&.oe1 {
						-webkit-transform: rotate(0deg);
						transform: rotate(0deg);
					}

					&.oe2 {
						-webkit-transform: rotate(60deg);
						transform: rotate(60deg);
					}

					&.oe3 {
						-webkit-transform: rotate(120deg);
						transform: rotate(120deg);
					}

					&.oe4 {
						-webkit-transform: rotate(180deg);
						transform: rotate(180deg);
					}

					&.oe5 {
						-webkit-transform: rotate(240deg);
						transform: rotate(240deg);
					}

					&.oe6 {
						-webkit-transform: rotate(300deg);
						transform: rotate(300deg);
					}
				}
			}
		}
	}
}

@media (min-width: $portrait-site-width) {
	.about-animation {
		padding-right: 280px;
		.org {
			display: block;
		}
	}
}