

.button {
	display: inline-block;
	padding: 1em;
	background-color: $prime;
	border-radius: 4px;
	color: $inverted-text;
	text-decoration: none;
	-webkit-transition: background 100ms ease-in-out 0ms, color 100ms ease-in-out 0ms;
	transition: background 100ms ease-in-out 0ms, color 100ms ease-in-out 0ms;
}

.art1 {
	.button {
		&:hover,
		&:active {
			background-color: $white;
			color: $default-text;
		}
	}
}

.art2 {
	.button {
		position: relative;
		overflow: hidden;
		span {
			position: relative;
			z-index: 10;
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: -100%;
			height: 100%;
			width: 100%;
			background-color: $emphasis;
			-webkit-transition: left 100ms ease-out 0ms;
			transition: left 100ms ease-out 0ms;
		}
		&:hover,
		&:active {
			&:before {
				left: 0;
			}
		}
	}
}

.art3,
.art4 {
	.button {
		padding: 0;
		> span {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			padding: 1em;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-transition: all 0.2s linear;
			transition: all 0.2s linear;
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;

			> span {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				padding: 1em;
				border-radius: 4px;
				opacity: 1;
				left: 0;
				top: -5px;
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
				-webkit-transition: -webkit-transform 0.3s linear, background 0.3s linear;
				transition: transform 0.3s linear, background 0.3s linear;
				-webkit-transform-origin: 0 0;
				transform-origin: 0 0;
				-webkit-transform: rotateX(-90deg) translateZ(52px);
				transform: rotateX(-90deg) translateZ(52px);
				background-color: $emphasis;
			}
		}

		&:hover,
		&:active {
			> span {
  				-webkit-transform: rotateX(90deg);
  				transform: rotateX(90deg);
			}
		}
	}
}

.art4 {
	.button {
		padding: 0;
		> span {
			> span {
				background-color: darken($emphasis, 20%);
			}
		}

		&:hover,
		&:active {
			> span {
  				background-color: lighten($prime, 20%);
  				> span {
  					background-color: $emphasis;
  				}
			}
		}
	}
}

.art5 {
	.button {
		position: relative;
		overflow: hidden;
		-wekbit-transition: padding-right 100ms ease-in-out 0ms;
		transition: padding-right 100ms ease-in-out 0ms;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			right: -15px;
			margin-top: -5px;
			border-top: 5px solid transparent;
			border-left: 8px solid $white;
			border-bottom: 5px solid transparent;
			-wekbit-transition: right 100ms ease-in-out 0ms;
			transition: right 100ms ease-in-out 0ms;
		}
		&:hover,
		&:active {
			padding-right: 40px;
			&:after {
				right: 15px;
			}
		}
	}
}

.art6 {
	.button {
		position: relative;
		overflow: hidden;
		border-radius: 0px;
		-wekbit-transition: padding-right 100ms ease-in-out 0ms;
		transition: padding-right 100ms ease-in-out 0ms;
		-webkit-transition-delay: 200ms; 
	    transition-delay: 200ms;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: -10%;
			right: 15px;
			margin-top: -5px;
			border-top: 5px solid transparent;
			border-left: 8px solid $white;
			border-bottom: 5px solid transparent;
			-wekbit-transition: top 200ms ease-in-out 0ms;
			transition: top 200ms ease-in-out 0ms;
		}
		&:hover,
		&:active {
			padding-right: 40px;
			-wekbit-transition: padding-right 100ms ease-in-out 0ms;
			transition: padding-right 100ms ease-in-out 0ms;
			background-color: $emphasis;
			&:after {
				top: 50%;
				-webkit-transition-delay: 100ms; 
	    		transition-delay: 100ms;
			}
		}
	}
}

.art7 {
	.button {
		position: relative;
		overflow: hidden;
		background-color: transparent;
		color: $prime;
		border: 1px solid $prime;
		border-radius: 0px;
		span {
			position: relative;
			z-index: 10;
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: -100%;
			height: 100%;
			width: 100%;
			background-color: $prime;
			-webkit-transition: bottom 100ms ease-out 0ms;
			transition: bottom 100ms ease-out 0ms;
		}
		&:hover,
		&:active {
			color: $emphasis;
			border: 1px solid $emphasis;

			&:before {
				bottom: -95%;
				background-color: $emphasis;
			}
		}
	}
}

.art8 {
	.button {
		position: relative;
		overflow: hidden;
		background-color: transparent;
		color: $prime;
		border: 1px solid $prime;
		border-radius: 0px;
		span {
			position: relative;
			z-index: 10;
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: -100%;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: $prime;
			-webkit-transition: top 100ms ease-out 0ms;
			transition: top 100ms ease-out 0ms;
		}
		&:hover,
		&:active {
			color: $white;
			&:before {
				top: 0;
			}
		}
	}
}


