
// Grid variables

$grid-column-width: (100 / $grid-total-columns) * 1%;
$grid-halfgutter-width: $grid-gutter-width / 2;

$mobile-portrait: col-xxs;
$mobile: col-xs;
$portrait: col-sm;
$landscape: col-md;
$desktop: col-lg;
$bigscreen: col-xl;

// Grid elements

%cleared {
  &:after {
    display: table;
    clear: both;
    content: " ";
  }
}

%col {
  float: left;
  position: relative;
  min-height: 1px;
  width: 100%;
  padding-left: $grid-halfgutter-width;
  padding-right: $grid-halfgutter-width;
}

%gutterless-col {
  padding-left: 0;
  padding-right: 0;
}

  
// Create grid


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: $mobile-media-width) {
  .container {
    width: $mobile-site-width;
  }
}

@media (min-width: $portrait-media-width) {
  .container {
    width: $portrait-site-width;
  }
}

@media (min-width: $landscape-media-width) {
  .container {
    width: $landscape-site-width;
  }
}

@media (min-width: $desktop-media-width) {
  .container {
    width: $desktop-site-width;
  }
}

@media (min-width: $bigscreen-media-width) {
  .container {
    width: $bigscreen-site-width;
  }
}

.row {
  margin-left: - $grid-halfgutter-width;
  margin-right: - $grid-halfgutter-width;
  @extend %cleared;
}

.row.gutterless {
  margin-left: 0px;
  margin-right: 0px;
}

@for $i from 1 through $grid-total-columns {
  .#{$mobile}-#{$i},
  .#{$portrait}-#{$i},
  .#{$landscape}-#{$i},
  .#{$desktop}-#{$i},
  .#{$bigscreen}-#{$i} {
    @extend %col;
  }

  .gutterless .#{$mobile}-#{$i},
  .gutterless .#{$portrait}-#{$i},
  .gutterless .#{$landscape}-#{$i},
  .gutterless .#{$desktop}-#{$i},
  .gutterless .#{$bigscreen}-#{$i}  {
    @extend %gutterless-col;
  }
}

// Mobile portrait column width

@for $i from 1 through $grid-total-columns {
  .#{$mobile-portrait}-#{$i} {
    width: $grid-column-width * $i;
  }
}

// Mobile landscape column width

@media (min-width: $mobile-media-width) {
  @for $i from 1 through $grid-total-columns {
    .#{$mobile}-#{$i} {
      width: $grid-column-width * $i;
    }
  }
}

// Portrait column width

@media (min-width: $portrait-media-width) {
  @for $i from 1 through $grid-total-columns {
    .#{$portrait}-#{$i} {
      width: $grid-column-width * $i;
    }
  }
}

// Landscape column width

@media (min-width: $landscape-media-width) {
  @for $i from 1 through $grid-total-columns {
    .#{$landscape}-#{$i} {
      width: $grid-column-width * $i;
    }
  }
}

// Desktop column width

@media (min-width: $desktop-media-width) {
  @for $i from 1 through $grid-total-columns {
    .#{$desktop}-#{$i} {
      width: $grid-column-width * $i;
    }
  }
}

// Bigscreen column width

@media (min-width: $bigscreen-media-width) {
  @for $i from 1 through $grid-total-columns {
    .#{$bigscreen}-#{$i} {
      width: $grid-column-width * $i;
    }
  }
}

// Offsets 

@media (min-width: $mobile-media-width) {
  @for $i from 1 through $grid-total-columns {
    .#{$mobile}-offset-#{$i} {
      margin-left: $grid-column-width * $i;
    }
  }
}

@media (min-width: $portrait-media-width) {
  @for $i from 1 through $grid-total-columns {
    .#{$portrait}-offset-#{$i} {
      margin-left: $grid-column-width * $i;
    }
  }
}

@media (min-width: $landscape-media-width) {
  @for $i from 1 through $grid-total-columns {
    .#{$landscape}-offset-#{$i} {
      margin-left: $grid-column-width * $i;
    }
  }
}

@media (min-width: $desktop-media-width) {
  @for $i from 1 through $grid-total-columns {
    .#{$desktop}-offset-#{$i} {
      margin-left: $grid-column-width * $i;
    }
  }
}

@media (min-width: $bigscreen-media-width) {
  @for $i from 1 through $grid-total-columns {
    .#{$bigscreen}-offset-#{$i} {
      margin-left: $grid-column-width * $i;
    }
  }
}