
@include font-face("dearnova-icons", font-files(
		"icons/dearnova-iconset.woff",
		"icons/dearnova-iconset.ttf",
		"icons/dearnova-iconset.svg#dearnova-icons"
), "icons/dearnova-iconset.eot");


%antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%icons {
	font-family: 'dearnova-icons';
	@extend %antialiased;
}


[class^="icon-"], [class*=" icon-"] {
	@extend %icons;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
	content: "\f013";
}

.icon-wrench:before {
	content: "\f0ad";
}

.icon-dashboard:before {
	content: "\f0e4";
}

.icon-lightbulb:before {
	content: "\f0eb";
}

.icon-suitcase:before {
	content: "\f0f2";
}

.icon-paper-plane:before {
	content: "\f1d9";
}

