

.wrap {
	position: relative;
	width: auto;
	height: 400px;
	overflow: hidden;
}

.img1 {
	.wrap {
		img {
			-webkit-transition: all 500ms ease-out 0ms;
			transition: all 500ms ease-out 0ms;
		}

		&:hover {
			img {
				-webkit-transform:scale(1.25);     
				transform:scale(1.25);
				-webkit-transition: all 20000ms ease-out 0ms;
				transition: all 20000ms ease-out 0ms;
			}
		}
	}
}

.img2 {
	.wrap {
		img {
			-webkit-transition: all 500ms ease-out 0ms;
			transition: all 500ms ease-out 0ms;
 		    -webkit-filter: grayscale(0%);
 		    filter: grayscale(0%);
		}

		&:hover {
			img {
				-webkit-transition: all 1000ms ease-out 0ms;
				transition: all 1000ms ease-out 0ms;
				filter: gray; /* IE6-9 */
 		  		-webkit-filter: grayscale(70%);
 		  		filter: grayscale(70%);
			}
		}
	}
}

.img3 {
	.wrap {
		img {
			-webkit-transition: opacity 200ms ease-out 0ms;
			transition: opacity 200ms ease-out 0ms;
 		    opacity: 1;
 		}

 		.layover {
 			position: absolute;
 			top: 0px;
 			bottom: 0px;
 			left: -100%;
 			width: 100%;
 			height: 100%;
 			background-color: $emphasis;
			-webkit-transition: left 200ms ease-out 0ms;
			transition: left 200ms ease-out 0ms;


	 		h3 {
	 			position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				text-align: center;
				color: $white;
				opacity: 0;
	 		}

 		}
		&:hover {
			img {
				-webkit-transition: opacity 200ms ease-out 0ms;
				transition: opacity 200ms ease-out 0ms;
				opacity: 0.9;
			}

			.layover {
				left: 0%;
				opacity: 0.8;
				h3 {
					opacity: 1;
				}
			}

		}
	}
}

.img4 {
	.wrap {
		background: url(img/img.jpg) 0 0 no-repeat;
		background-color: transparent;
		-webkit-transition: background-color 200ms ease-out 0ms;
		transition: background-color 200ms ease-out 0ms;
		background-size: cover;
		.layover {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			-webkit-transition: top 200ms ease-out 0ms;
			transition: top 200ms ease-out 0ms;

	 		h3 {
	 			position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				text-align: center;
				color: $white;
	 		}
		}
		&:hover {
			background-color: $emphasis;
			background-blend-mode: multiply;
			.layover {
				top: 0;
			}
		}
	}
}
