@charset "UTF-8";

body {
	background-color: $body;	
}

header {
	ul {
		padding-top: 20px;
		text-align: center;
		li {
			display: inline-block;
			padding: 10px;
			a {
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				span {
					display: inline-block;
					position: relative;
					padding: 10px 20px;
					&:before {
						content: "";
						display: block;
						position: absolute;
						z-index: 0;
						top: 50%;
						left: 20px;
						right: 20px;
						height: 0%;
						border-top: 0px solid $prime;
						border-bottom: 0px solid $prime;
						-webkit-transition: all 100ms ease-in-out 0ms;
						transition: all 100ms ease-in-out 0ms;
					}
				}
				&.active,
				&:hover,
				&:active {
					span {
						&:before {
							top: 0;
							left: 0;
							right: 0;
							height: 100%;
							border-top-width: 1px;
							border-bottom-width: 1px;
						}
					}
				}
			}
		}
	}
}

main {
	padding: 3em 0;
}

article {
	position: relative;
	padding: 3em;
	border-radius: 2px;
	-webkit-transition: background 100ms ease-in-out 0ms, color 100ms ease-in-out 0ms;
	transition: background 100ms ease-in-out 0ms, color 100ms ease-in-out 0ms;
	&.hover {
		background-color: $emphasis;
		color: $inverted-text;
	}
}
