
@include font-face("DIN-Light", font-files(
		"DIN-Light-webfont.woff",
		"DIN-Light-webfont.ttf",
		"DIN-Light-webfont.svg#dinlight"
), "DIN-Light-webfont.eot");

@include font-face("DIN-Regular", font-files(
		"DIN-Regular-webfont.woff",
		"DIN-Regular-webfont.ttf",
		"DIN-Regular-webfont.svg#dinregular"
), "DIN-Regular-webfont.eot");


%antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%opensans {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	@extend %antialiased;
}

%arial {
	font-family: Arial, Helvetica, sans-serif;
	@extend %antialiased;
}

%dinlight {
	font-family: 'DIN-light', Arial, Helvetica, sans-serif;
	@extend %antialiased;
}

%dinregular {
	font-family: 'DIN-Regular', Arial, Helvetica, sans-serif;
	@extend %antialiased;
}

body {
	@extend %opensans;
	font-size: 100%;
	color: $default-text;
}

h1 {
	margin-bottom: 1em;
	@extend %dinlight;
	font-size: 2em;
	line-height: 1.25em;
	text-align: center;
}

h2 {
	margin-bottom: 1em;
	@extend %dinregular;
	font-size: 1.25em;
	line-height: 1.25em;
}

p {
	margin-bottom: 1em;
	line-height: 1.4em;
}

h1, h2, h3, h4, h5, p, ul, ol {
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: $prime;
}
